
/*
 * This file is part of ClubCash.
 *
 * ClubCash is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * ClubCash is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with ClubCash. If not, see <https://www.gnu.org/licenses/>.
 */

.Rechnung {
    all: unset;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    color: var(--text-color-dark);
    text-align: left;
    margin: 40px;
}

.Rechnung p {
    margin: 0px;
    text-align: left;
}

.Rechnung table {
    font-size: 14px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    margin-left: 0px;
    margin-top: 20px;
    max-width: none;    
}

.Rechnung th {
    background: none;
    margin: 0px;
    padding: 0px;
}

.Rechnung td {
    padding-right: 20px;
}

@media print {
      .no-break {
        page-break-inside: avoid;
        break-inside: avoid; /* Für bessere Kompatibilität */
      }
    }

 .warnung {
    background-color: var(--warning-color);
    color: var(--text-color-light);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin: 10px;
 }


.switch {
    position: relative;
    display: inline-block;
    width: 38.4px;
    height: 21.6px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--border-color);
    transition: .4s;
    border-radius: 21.6px;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 16.8px;
    width: 16.8px;
    left: 2.4px;
    bottom: 2.4px;
    background-color: var(--text-color-light);
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: var(--button-color);
}

.switch input:checked + .slider:before {
    transform: translateX(16.8px);
}


@font-face {
    font-family: 'Carlito';
    src: url('grafik/carlito-v3-latin-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '3-of-9';
    /* Mehrere Quellen für bessere Kompatibilität */
    src: url('grafik/LibreBarcode39-Regular.ttf') format('truetype');
    font-display: swap; /* Verhindert FOIT (Flash of Invisible Text) */
}

.EinstellungsFrm label {
    margin-left: 20px;
}

.EinstellungsFrm input {
    max-height: 24px;
    border: none;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
}

p.beschreibung {
    font-size: .8em;
    color: var(--text-color-dark);
    margin: 0;
    height: 20px;
    overflow: hidden;
}

p.beschreibung:hover {
    height: auto; /* Höhe anpassen, wenn der Text überläuft */
    overflow: visible; /* Sichtbar machen, wenn der Text überläuft */
    color: var(--secondary-color);
}

p.formularunterüberschrift {
    font-family: 'Carlito', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: var(--text-color-dark);
    margin: 0;
    grid-column: span 3;
    background-color: var(--border-color);
    padding-left: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#portalmenu2 {
    padding: 10px 10px 0px 20px;
}

#portalmenu2 h2 {
    margin: 10px;
}

#portalmenu2 input {
    border: solid 1px var(--border-color);
    border-radius: 5px;
    background-color: var(--text-color-light);
}

.barcode {
    font-family: '3-of-9', 'Courier New', monospace;
    font-size: 2em;
}

.preisliste-table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    margin-left: 0px;
    margin-top: 20px; 
    max-width: none;
    font-size: 30px;
}

.preisliste-table tr {
    vertical-align: top;
    height: 50px;
}

.preisliste-print button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.tastaturtabelle {
    width: 22cqw;
    border-spacing: 1cqw;
    font-size: 4cqw;
    font-weight:  bold;
}

.tastaturtabelle td {
    width: 5cqw;
    height: 5cqw;
    border-spacing: 2cqw;
    /* font-size: 3cqw; */
    vertical-align: middle;
    text-align: center;
    background: var(--button-color);
    border-radius: 1cqw;
}

@media print {
    .preisliste-print button {
        display: none;
    }
}

mark {
    color: var(--text-color-light);
    background-color: var(--button-color);
    margin: 5px;
    padding: 0px 5px;
    border-radius: 5px;
}

.portal {
    background-color: var(--background-light);
    color: var(--text-color-dark);
    font-size: 20px;
}

.portal-table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    margin-left: 0px;
    margin-top: 20px; 
    max-width: none;
}

.portal-table td {
    padding: 2px 5px 2px 5px;
    border: 1px solid var(--border-color);
}

.summenzeile {
    border-top: 1px solid black;
}
    
#portal-inhalt {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: var(--text-color-light);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    text-align: left;
    overflow: auto;
    max-height: calc(100vh - 320px);
}


/* Navigation Container */
.navbar {
background-color: var(--background-dark);
}

/* Hauptmenü */
.navbar > ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
background-color: var(--background-dark);
}

.navbar > ul > li {
position: relative;
z-index: 2;
}

/* Hauptmenü Links */
.navbar > ul > li > a {
display: block;
padding: 14px 20px;
color: var(--text-color-light);
text-decoration: none;
}

.navbar > ul > li > a:hover {
background-color: var(--text-color-dark);
}

/* Dropdown-Menü */
.navbar li ul {
display: none;
position: absolute;
background-color: var(--background-dark);
list-style-type: none;
margin: 0;
padding: 0;
top: 100%;
left: 0;
min-width: 160px;
}

.navbar li:hover ul {
display: block;
}

.navbar li ul li a {
display: block;
padding: 12px 16px;
color: var(--text-color-light);
text-decoration: none;
}

.navbar li ul li a:hover {
background-color: var(--text-color-dark);
}

.navbar li ul li a.disabled {
pointer-events: none;
color: var(--error-color) !important;
cursor: not-allowed;
background-color: transparent !important;
}

#login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

body {
    color: var(--text-color-dark);
    margin: 0px;

}

.preiseingabe {
    font-size: 4cqw;
    text-align: center;
    margin: 1cqw;
}

.button {
    background-color: var(--button-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    font-size: 15px;
}

.kleinerBt {
    height: 38px;
}

.box_zentrieren {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.inputfeld {
    background-color: var(--background-light);
}

input[type="date"] {
    font-family: 'Carlito', sans-serif;
    font-size: 20px;
    background-color: var(--background-light);
    border: none
}

.edited {
    background-color: yellow;
    }
.new {
    background-color: lightgreen;
    }
.deleted td {
    background-color: #fdd;
    }
.deleted .text {
    text-decoration: line-through;
    }
 .icon {
    font-size: 16px; /* Beispiel für die Icons */
    }
a {
    text-decoration: none;
    cursor: pointer;
    }

select {
    font-family: 'Carlito', sans-serif;
    font-size: 20px;
    border: none;
    background-color: var(--background-light);
    color: var(--text-color-dark);
 
    border-radius: 5px;
}
 b
div#rechteSpalte {
    width: 24vw;
}

.button:hover {
    background-color: var(--button-hover);
}

/* Allgemeine Stile */
body {
    font-family: 'Carlito', sans-serif;
}

/* Menüleiste */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color-dark);
    position: absolute;
    margin: 1.5cqw;
    position:  absolute;
    left: 0;
}

/* Hamburger-Icon */
.menu-icon {
    display: block;
    cursor: pointer;
    /* margin: 0vw; */
    /* padding: 0vw; */
    font-size: 2.5cqw;
}

/* Menü-Container */
.menu {
    flex-direction: column;
    background: var(--background-light);
    position: absolute;
    top: 4.5cqw;
    left: -2cqw;
    text-align: center;
    border: solid 1px var(--border-color);
    border-top: none;
    /* border-left: 1px; */
    border-bottom-left-radius: 1cqw;
    border-bottom-right-radius: 1cqw;
    z-index: 10;
    transform-origin: top;
    transition: transform 0.3s ease-out;
    transform: scaleY(0);
    /* font-size: 3vw; */
    width:  28cqw;
}

/* Buttons im Menü */
.menu button {
    background: var(--secondary-color);
    color: var(--text-color-light);
    border: none;
    width: 26cqw;
    cursor: pointer;
    font-size: 1.8cqw;
    border-radius: 1cqw;
    margin: 0.5cqw;
    height: 5cqw;
}

.menu button:hover {
    background: var(--tertiary-color);
}

button:hover {
    background: var(--button-hover);
}

button:disabled {
    background-color: var(--border-color);
    color: var(--text-color-dark);
    cursor: not-allowed;
    opacity: 0.6;
}

/* Menü aktivieren */
.menu.active {
    transform: scaleY(1);
    width: 28cqw;
}

p {
    /* margin-block-start: 0em; */
    font-size: 2cqw;
}

h1 {
    margin: 0px;
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 4cqw;
    font-weight: bold;
    margin: 3cqw 0 0 0;
}

button {
    font-size: 2.2cqw;
    height: 8cqw;
    width: 22cqw;
    font-weight: bold;
    /* font-size: 2.5vw; */
    background-color: var(--button-color);
    border: none;
    border-radius: 1cqw;
    color: var(--text-color-dark);
    margin: 0.3cqw;
}

#vereinsnamen {
    font-size: 1em;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

button:hover {
    background: var(--button-hover);
}

#abbruch {
    background-color: var(--warning-color);
}

#direktwahl button {
    font-weight: bold;
    background-color: var(--button-color);
    border: none;
    border-radius: 1cqw;
    color: var(--text-color-dark);
    width: 29cqw;
    height: 6cqw;
}

#direktwahl button:hover {
    background: var(--button-hover);
}

.zentriert {
    text-align: center;
}

/* Admin Fenster */
#adminfenster {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#adminfenster button {
    width: 280px;
}

/* Preisfenster */
#preisfenster {
    flex-direction: column;
    align-items: center;
    gap: 1cqw;
    background-color: var(--background-light);
    margin: 0;
    padding: 0;
    height: 100cqh;
    width: 100cqw;
    z-index: 3;
    display: none;
}

#preisfenster_inhalt {
    background-color: var(--text-color-light);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--border-color);
    height: 100%;
    margin: 1cqw;
    padding: 1cqw;
    border-radius: 1cqw;
}

#preisliste_schließen {
    background-color: var(--success-color);
    position: absolute;
    top: 1cqw;
    right: 3cqw;
    border: 1px solid;
    height: 6cqw;
    width: 6cqw;
    font-size: 4cqw;
}

#preislistentabelle thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Display */
#display {
    background-color: var(--background-light);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* background-color: green; */
    height: 100vh;
    max-width: calc(100vh * 5 / 3);
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: start;
    container-type: inline-size;
}

#direktwahl {
    /* height: 330px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#linkeSpalte {
    
            /* oder 100dvh, siehe Hinweis unten */
    display: flex;
    flex-direction: column;
    max-height: 100cqh;
    min-height: 100cqh;
}


/* Tastatur */
#tastatur {
    display: block;
    width: 22cqw;
    position: fixed;
    background: var(--text-color-light);
    left: 76cqw;
    top: 20cqw;
    border: solid 1px;
    height: 34cqw;
    padding: 0.5cqw;
    border-radius: 1cqw;
}

#tastatur button {
    width: 5cqw;
    height: 5cqw;
    font-size: 3cqw;
    padding: 0;
}

/* Warenkorb Tabelle */
#warenkorbtabelle {
    width: 100%;
    flex:  1;
    border-spacing: 0.5cqw;
}

#bt-abrechnungExport {
    background-color: var(--warning-color);
}

#bt-Kontoausgleich {
    background-color: var(--success-color);
}

#datenfeld {
    overflow: auto;
    border: 1px solid var(--border-color);
    padding: 1cqw;
    margin: 1cqw;
    background-color: var(--text-color-light);
    border-radius: 1cqw;
    flex: 1 1 auto;       /* nimmt den restlichen Platz */
    min-height: 0px;        /* wichtig, damit overflow sauber funktioniert */
           /* optional */
           /* nimmt den restlichen Platz */
            /* wichtig, damit overflow sauber funktioniert */
           /* optional */
    width: 70cqw;
    height: 100%;
    /* max-height: 100cqh; */
}

#copyright {
    /* font-size: 3vw; */
    height: 4cqw;
}

#summenkasten {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50px; */
    font-weight: bold;
    font-size: 5cqw;
    padding: 2cqw 0 0 0;
}

.leerspalte {
    width: 3cqw;
}

.preisspalte {
    width: 80px;
}

.preisspalteWarenkorb {
    width: 14cqw;
}

.datumspalte {
    width: 100px;
}

.kundenspalte {
    min-width: 200px;
    text-align: left;
    vertical-align: top;
}

.top {
    vertical-align: top;
}

.preispalte {
    width: 100px;
    text-align: right;
}

/* Statusfeld */
#statusfeld {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--text-color-dark);
    padding: 0;
    font-size: 4cqw;
    height: 5cqw;
}

/* Menubar */
#menubar {display: flex;justify-content: center;flex-direction: column;font-size: 2.5cqw;}

/* Logo */
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tabellen */
th {
    background-color: var(--border-color);
    color: var(--text-color-dark);
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5cqw;
    border: 0.5cqw white solid;
    font-size: 3cqw;
}

.BT_Eingabe {
    background-color: var(--sucess-color);
}

#BT_EingabeBestätigt {
    background-color: var(--success-color);
}

#BT_EingabeBestätigt:hover {
    background: var(--button-hover);
}

#BT_Abbruch {
    background-color: var(--error-color);
}

.bt_produkt {
    height: 50px;
    width: 240px;
    margin: 5px 5px 0px 5px;
    font-weight: normal;
    font-size: 15px;
    border: 1px solid;
}

/* Verschiedene Klassen */
.rechts {
    text-align: right;
}

.links {
    text-align: left;
}

.rechts_groß {
    text-align: right;
    font-size: 4cqw;
    padding-right: 1cqw;
}

.preisliste_rechts_groß {
    text-align: right;
    font-size: 4cqw;
    padding-right: 2cqw;
}

.zeit {
    text-align: center;
    width: 90px;
    font-size: 15px;
}

.währung {
    text-align: right;
    vertical-align: bottom;
    width: 100px;
}

.zentriertTop {
    text-align: center;
    vertical-align: top;
}

#preisliste_überschrift {
    font-size: 5cqw;
    margin-bottom: 1cqw;
}

/* Weitere spezifische IDs */
#bt_x {
    background-color: var(--warning-color);
    position: absolute;
    top: 2px;
    right: 20px;
    border: 1px solid;
    height: 50px;
    width: 50px;
    font-size: 30px;
}

#Namenfeld {
    background-color: var(--border-color);
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

.plus-button {
    width: 5cqw;
    height: 5cqw;
    font-size: 3cqw;
    padding: 0px;
}

.plus-button-zelle {
    text-align: center;
    vertical-align: middle;
    font-size: 4cqw;
    padding-right: 1cqw;
}

/* Breite des Scrollbalkens */
.scrollbalken::-webkit-scrollbar {
    width: 4cqw;
}

/* Hintergrund des Scrollbalkens */
.scrollbalken::-webkit-scrollbar-track {
    background: var(--text-color-light);
    border-radius: 2xqw;
}

/* Farbe des Scrollbalkens */
.scrollbalken::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 2cqw;
}

/* Scrollbalken beim Hover */
.scrollbalken::-webkit-scrollbar-thumb:hover {
    background: var(--tertiary-color);
}


#bildschirmschoner {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    position: absolute;
    top: 0px;
    background-color: black;
    z-index: 20;
}

.input-button {
    display: none;
}


#Wartungsfenster {
    display: none;
    background-color: var(--background-dark);
    color: var(--text-color-light);
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    max-height: 100cqh;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertikal */
    flex-direction: column;
}

#Wartungsfenster h1 {
    font-size: 3cqw;
    max-width: 106cqw;
}

#OfflineBildschirm {
    display: flex;
    background-color: var(--background-dark);
    color: var(--text-color-light);
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#OfflineBildschirm h1 {
    font-size: 4cqw;
    }

@keyframes scale-image {
    0% { width: 0px; opacity: 0; }
    40% { width: 400px; opacity: 1; } /* Wächst und wird sichtbar */
    50% { width: 400px; opacity: 1; } /* 5 Sek. sichtbar bleiben */
    90% { width: 0px; opacity: 0; } /* Schrumpft und wird unsichtbar */
    100% { width: 0px; opacity: 0; }
  }
  
  .scaling-img {
    width: 0px;
    height: auto; /* Höhe bleibt proportional */
    animation: scale-image 30s linear infinite;
  }

  .menuspalte {
    /*background-color: rgb(212, 212, 212);*/
    width: 300px
  }

  .menuspalte button {
    font-size: 15px;
    height: 45px;
  }

  #mittelteil {
    display: flex;
  }

  #inhaltsspalte {
    width: 1200px;
    height: 100%;
    /*background-color: rgb(222, 222, 240);*/
  }

  #checkmark-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    color: #4CAF50;
    position: absolute;
    top: 30cqw;
    left: 25cqw;
    z-index: 1000;
    }

    #checkmark {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 2s ease;
    }

    .DatumInput {
        font-family: 'Carlito', sans-serif;
        font-size: 25px;
        font-weight: bold;
        width: 150px;
        margin: 0px 20px;
    }

     .green {
    background-color: var(--success-color);
    color: var(--text-color-light);
 }

 /* Kassestyle.css - Extrahierte Inline-Styles */

/* Preloader */
#preloader {
    display: flex;
}

/* Warenkorb Initialnachricht */
#warenkorb-initial-message {height: 4cqw;font-size: 3cqw;}

/* Copyright Text */
#copyright-text {
    margin: 0px;
    font-size: 2.5cqw;
}

/* Logo Bild */
#logo-bild {
    width: 16cqw;
    padding: 1cqw;
}

/* Terminal Info Text */
#terminal-info-text {
    margin: 0px;
}

/* Offline Fenster */
#offlineFenster {
    /* width: 25cqw; */
    visibility: hidden;
}

/* Offline Status Text */
#offline-status-text {
    padding: 1cqw 0;
    margin: 0px;
    color: var(--warning-color);
    font-size: 2.5cqw;
}

/* Tastatur */
#tastatur {
    display: none;
}

.menubuttondown {
    font-size: 2cqw;
}


/* Wartungsfenster Logo */
#wartungs-logo {
    margin: 1cqw;
    height: 30cqw;
    max-height: 22cqh;
}

#rechteSpalte {}

/* Offline Bildschirm Logo */
#offline-logo {
    width:  30cqw;
    max-height: 50cqh;
}

/* Checkmark Container */
#checkmark-container {
    display: none;
}

/* Preis geändert Erfolgsmeldung */
.preis-geaendert-erfolg {
    font-size: 4cqw;
    color: var(--success-color);
}

/* Preis geändert Info */
.preis-geaendert-info {
    font-size: 3cqw;
}

/* Preis geändert Wert */
.preis-geaendert-wert {
    color: var(--success-color);
    font-size: 12cqw;
}

/* Preis Fehler Meldung */
.preis-fehler {
    font-size: 3.5cqw;
    color: var(--success-color);
}

/* Warenkorb Übertragung Text */
.warenkorb-uebertragung-text {
    font-size: 3.5cqw;
}

/* Warenkorb Checkmark Container (in dynamischem HTML) */
.warenkorb-checkmark-container {
    display: none;
}

/* Warenkorb Checkmark SVG */
#warenkorb-checkmark-svg {
    margin: -105px 0px 0px 0px;
}

/* Tagesabrechnung Tabellen-Header */
.tagesabrechnung-th-left {
    text-align: left;
}

/* Kundentagesübersicht Namenfeld */
#Namenfeld {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Kundentagesübersicht Summen-Zeile */
.kunden-summen-padding {
    padding-bottom: 10px;
}

/* Systeminfo Cache-Liste */
.systeminfo-cache-liste {
    font-size: 2vw;
    text-align: left;
}
